.g1 {
    color: #C3170C;
}
.g1:hover {
    color: #f12112;
}

.globo {
    color: #1E4B9B;
}

.globo:hover {
    color: #3072e4;
}

.valor {
    color: #006766;
}

.valor:hover {
    color: #05a19f;
}

.ge {
    color: #07AA47;
}

.ge:hover {
    color: #09d159;
}

.cartola {
    color: #E3662B;
}

.cartola:hover {
    color: #fd702f;
}

.globoplay {
    color: #FB0735;
}

.globoplay:hover {
    color: #fa4667;
}

.dropz {
    color: #FF75BB;
}

.dropz:hover {
    color: #f89bc9;
}

.gshow {
    color:#EC7D00;
}

.gshow:hover {
    color:#eb9839;
}

.quem {
    color: #323333;
}

.quem:hover {
    color: #6c6d6d;
}

.receitas {
    color: #A81D83;
}

.receitas:hover {
    color: #ce27a1;
}
