@media screen and (min-width: 200px) and (max-width: 767px){

    .navigation-width {
        width: 90%;
        justify-content: center;
        flex-wrap: wrap;
    }

    .navigation-width a {
        margin: 20px 20px;
    }

    .content {
        width: 90%;
        flex-direction: column;
    }

    .others-news {
        padding-left: 0;
    }

    .main-news-about, .footbal-news-about, .variant-news-about, .division {
        display: none;
    }

    .main-title {
        font-size: 32px;
    }

    .main-news .main-subtitle, .main-news .notice {
        font-size: 18px;
        color: #CD150B;
    }

    .main-news .description {
        color: #CD150B;
        font-size: 16px;
    }

    .footbal-news .notice {
        font-size: 18px;
        color: #06AA48;
    }

    .footbal-news .description {
        color: #06AA48;
        font-size: 16px;
    }

    .variant-news .notice {
        font-size: 18px;
        color: #FF8203;
    }

    .variant-news .description {
        color:#FF8203;
        font-size: 16px;
    }

    .main-news-image, .others-news-image {
        height: 67px;
        width: 120px;
        border-radius: 5px;
        margin-right: 10px;
    } 

    .main-news, .main-news-text, .others-news {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main-subtitle {
        width: 100%;
        font-weight: bold;
        margin: 20px 0;
    }

    .main-news {
        padding-right: 0;
        margin: 20px 0;
        border-right: 0;
    }

    .main-news-text, .news {
        border-bottom: 1px solid #E6E6E6;
    }

    .footbal-news, .variant-news {
        padding: 0;
    }

    .main-news-notice, .other-news-notice {
        display: flex;
    }

    .news, .others-news .other-news {
        width: 100%;
        margin-right: 0;
        margin-top: 20px;
    }

    .variant-news .other-news:nth-child(1) {
        margin-top: 20px;
    }

    .other-news:nth-child(1) {
        margin-top: 0;
    }

    .description {
        margin-bottom: 20px;
    }

    .footbal-news {
        border: 0;
    }

    .other-news, .others-news {
        margin: 0;
    }

    .other-news {
        border-bottom: 1px solid #E6E6E6;
        padding-bottom: 20px;
    }

    .other-news.description-with {
        padding-bottom: 0;
    }

    .main-news-with-imgs, .main-news-with-no-imgs, .footbal-news, .variant-news {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .logo {
        display: none;
    }

    .logo-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
    }


}